
@{
    ViewBag.Title = "Home";
}

<section>
    <!-- Page content-->
    <div class="content-wrapper">
        <h3>
            Bienvenido
            <small>Mediante este servicio podrás saber la probabilidad de que un cliente deje consumir tus productos.</small>
        </h3>
        <!-- START panel-->
        <div class="panel panel-default">
            <div class="row">
                <div class="col-lg-12 col-sm-12 text-center">
                    <a class="btn btn-xl btn-primary" href="@Url.Action("RegisterUser")">Ingresar Usuario</a>
                </div>
            </div>
         
        <!-- START table-responsive-->
       
    <!-- END panel-->

    </div>
        </div>
</section>

